body{
    display: block;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1SAeSyZUGERxs5ircctMMlyfDnpfMTbFxdg&usqp=CAU");
}

#tst1{
    background-size: 200px 100px;
    background-color: white;
    text-align: center;
    font-size: 25px;
    transition: 2s;
}

#tst1:hover{
    background-color: rgb(164, 164, 164);
    font-size: 28px;
}

#tst1-2{
    background-size: 200px 100px;
    background-color: white;
    text-align: center;
    font-size: 25px;
    transition: 2s;
}

#tst1-2:hover{
    background-color: rgb(164, 164, 164);
    font-size: 28px;
}

#tst1-3{
    background-size: 200px 100px;
    background-color: white;
    text-align: center;
    font-size: 25px;
    transition: 2s;
}

#tst1-3:hover{
    background-color: rgb(164, 164, 164);
    font-size: 28px;
}

#tst1-4{
    background-size: 200px 100px;
    background-color: white;
    text-align: center;
    font-size: 25px;
    transition: 2s;
}

#tst1-4:hover{
    background-color: rgb(164, 164, 164);
    font-size: 28px;
}

#tst1-5{
    background-size: 200px 100px;
    background-color: white;
    text-align: center;
    font-size: 25px;
    transition: 2s;
}

#tst1-5:hover{
    background-color: rgb(164, 164, 164);
    font-size: 28px;
}

#tst1-6{
    background-size: 200px 100px;
    background-color: white;
    text-align: center;
    font-size: 25px;
    transition: 2s;
}

#tst1-6:hover{
    background-color: rgb(164, 164, 164);
    font-size: 28px;
}

#a1{
    text-align: center;
}

#ab1{
    font-style: italic;
    font-family: cursive;
}

#b1{
    text-align: center;
}

#b2{
    font-size: 20px;
}

#display_alt{
    font-size: 30px;
}

#c1{
    font-size: 50px;
    transition: 2s;
}

#c2{
    font-size: 50px;
    transition: 2s;
}

#c1:hover{
    font-size: 55px;;
}

#c2:hover{
    font-size: 55px;
}

#scam{
    font-size: 20px;
    transition: 1s;
}

#scam:hover{
    font-size: 22px;
}